@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: 100vh;
  background-color: rgb(32,35,48);
  color:#fff;
 display: flex;
 align-items: center;
 justify-content: center;
}